@model GraduationProject.ViewModels.Administration.CreateUserViewModel

@{
    ViewData["Title"] = "إنشاء مستخدم";
}
<link href="~/css/createItem.css" rel="stylesheet" />


<div class="container">
    <form id='create-form' asp-action="CreateUser">

        <p id='description' class="header">
            إنشاء مستخدم
        </p>
        @if (ViewBag.errorMassage != null)
        {
            <h4 class="text-danger" style=" text-align: center; background: #fff; padding: 5px; border-radius: 20px;">@ViewBag.errorMassage</h4>
        }
        <div class='form-input'>
            <label>اسم المستخدم</label>
            <input asp-for="RequestingParty" class='form-input-size' />
            <span asp-validation-for="RequestingParty" class="text-danger"></span>
        </div>
        <div class='form-input'>
            <label>البريد الإلكتروني</label>
            <input asp-for="Email" class='form-input-size' />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class='form-input'>
            <label>كلمة المرور</label>
            <input asp-for="Password" class='form-input-size' />
            <span asp-validation-for="Password" class="text-danger"></span>

        </div>
        <div class="form-input">
            <label>نوع المستخدم</label>
            <select asp-for="Type" class="form-input-size fit-content" asp-items="ViewBag.Type"></select>
            <span asp-validation-for="Type" class="text-danger"></span>

        </div>
        <div class='form-input'>
            <button type='submit' id='submit'>إنشاء المستخدم<i class="bx bx-add-to-queue mr-3"></i></button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
