@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "الأدوار";
}
<h1>الأدوار</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-controller="Administration" asp-action="CreateRole" style="width:auto">إنشاء دور</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h3>
                    عنوان الدور
                </h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer d-inline-flex">
                <a class="btn btn-dark m-2" asp-controller="Administration" asp-action="EditRole" asp-route-roleId="@role.Id" style="width:auto">تعديل</a>

                <form method="post" asp-action="DeleteRole" asp-route-roleId="@role.Id">
                    <button onclick="return confirm('@role.Name : هل تريد حذف  هذا الدور')" type="submit" class="m-2 btn btn-danger" style="width:auto">
                        حذف
                    </button>
                </form>
            </div>
        </div>
    }
}

else
{
    <div class="card">
        <div class="card-header">
            لا يوجد أدوار الى الآن
        </div>
        <div class="card-body">
            <h5 class="card-title"> اسخدم الزر في الأسفل لإنشاء دور</h5>
            <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole" style="width:auto">إنشاء دور</a>
        </div>
    </div>
}