<h1>الطلبات</h1>


<div class="btn-group">

    <a asp-action="Unplanned"> <button class="btn btn-primary">الطلبات غير المخططة <button> </a>
    <a asp-action="Annual"> <button class="btn btn-primary">الطلبات  السنوية</button></a>
</div>