@model IEnumerable<GraduationProject.Data.Models.UnPlannedOrder>

@if (Model.Count() > 0)
{

    <table>
        <thead>
            <tr>
                <td>الكمية  </td>
                <td>الوصف</td>
                <td>السبب</td>
                <td>تعليق</td>
            </tr>

        </thead>

        @foreach (var obj in Model)
        {

            <tbody>
                <tr>
                    <td>@obj.Quantity</td>
                    <td>@obj.Description</td>
                    <td>@obj.Reason</td>
                    <td>@obj.Comment</td>


                </tr>
            </tbody>

        }
    </table>
}
else
{ <h6>لا يوجد طلبات</h6>}
<form method="post" asp-action="ApproveOrder" asp-controller="VPUnplannedOrder" asp-route-id=@Model.First().OrderId>
        <button type="submit">الموافقة </button>
 </form>





