@model GraduationProject.ViewModels.InputDocument.AddMoreItemForInputDocument

@{
    //BeginCollectionItemCore already created in HtmlHelper.cs class
}

@using (Html.BeginCollectionItem("AddMoreList"))
{
    <!-------"AddMoreList"----- this is AddMoreViewModel List Object wich is define ViewModel file -->
    <div id="removeAddMoreDiv" class="col-xs-12 col-sm-12 form-group">
        <div class="row">
            <div class="col-md-4">
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.Item"></select>
            </div>
            <div class="col-md-4">
                <input asp-for="Quantity" placeholder="الكمية" class="form-control" />
            </div>
            <div class="col-md-4">
                <input asp-for="source" placeholder="المصدر" class="form-control" />
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-danger btn-sm removeDiv">
                    إزالة 
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
<script>
    $(".removeDiv").click(function () {
        $(this).parents("#removeAddMoreDiv").remove();
    });
</script>