@model GraduationProject.ViewModels.InputDocument.AddMoreItemForInputDocument

@{
    //BeginCollectionItemCore already created in HtmlHelper.cs class
}

@using (Html.BeginCollectionItem("AddMoreList"))
{
    <!-------"AddMoreList"----- this is AddMoreViewModel List Object wich is define ViewModel file -->
    <div id="removeAddMoreDiv" class="col-xs-12 col-sm-12 form-group">
        <div class="row">
            <div class="col-md-4">
                <label>المادة</label>
                <select asp-for="ItemId" class="form-control" asp-items="ViewBag.Item" required></select>
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label>الكمية</label>
                <input asp-for="Quantity" class="form-control" required />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label>المصدر</label>
                <input asp-for="source" class="form-control" required />
                <span asp-validation-for="source" class="text-danger"></span>
            </div>

            <div class="col-md-1">
                <button type="button" class="delete-icon-btn btn-sm removeDiv">
                    <i class='far fa-trash-alt'></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
<script>
    $(".removeDiv").click(function () {
        $(this).parents("#removeAddMoreDiv").remove();
    });
</script>