<link href="~/css/inputDocument.css" rel="stylesheet" />
<h1 class="tableheader">إنشاء سند إدخال</h1>
<br />
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card cardcss">
                    <div class="card-body">
                        <form asp-action="Create" class="form-validate">
                            @if (ViewBag.errorMessage != null)
                            {
                                <h4 class="alert alert-danger">@ViewBag.errorMessage</h4>
                            }
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <br />
                            <div id="addAddMoreDiv"></div>
                            <a id="add_row" class="create-icon-btn float-right"><i class="fa fa-plus"></i></a>
                            <br />
                            <br />
                            <button title="إنشاء" type='submit' class="push float-left"><i class="bx bx-up-arrow-circle"></i></button>

                            @*<input title="إنشاء" type="submit" class="bx bx-up-arrow-circle" />*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
      $('#add_row').on('click', function () {
        $.ajax({
            url: '@Url.Action("AddMorePartialView", "InputDocument")',
            type: 'GET',
            data: {
            },
            success: function (result) {
                $('#addAddMoreDiv').append(result);
            },
            error: function () {
            }
        });
    });
    </script>
}
