@model GraduationProject.ViewModels.InputDocument.InputDocumnetDetailsViewModel

@{
    ViewData["Title"] = "تفاصيل السند";
}
<link href="~/css/button.css" rel="stylesheet" />
<link href="~/css/tableformanagment.css" rel="stylesheet" />
<h1 class="tableheader-right">سند إدخال المواد </h1>
<h1 class="tableheader-right">@Model.CreatedAt.Date.ToString("dd/M/yyyy") في تاريخ</h1>
<div>
    <div class="table-responsive">
        <table class="styled-table">
            <thead>
                <tr>
                    <th style="padding-left:80px">
                        رمز المادة
                    </th>
                    <th>
                        اسم المادة
                    </th>
                    <th>
                        الكمية
                    </th>
                    <th>
                        المصدر
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InputDocumentDetails)
                {
                    string statuscode = item.Item.BarCode.Substring(0, 1);
                    string maincategory = item.Item.BarCode.Substring(1, 2);
                    string subcategory = item.Item.BarCode.Substring(3, 3);
                    string serial = item.Item.BarCode.Substring(6, 4);
                    string barcode = serial + " " + subcategory + " " + maincategory + " " + statuscode;
                    <tr>
                        <td>
                            @barcode
                        </td>
                        <td>
                            @item.Item.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Source
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


