@model IEnumerable<GraduationProject.Data.Models.InputDocument>

@{
    ViewData["Title"] = "سندات الإدخال";
}
<link href="~/css/button.css" rel="stylesheet" />
<h1 class="tableheader">سندات الإدخال</h1>
<a title="إضافة صنف" class="create-icon-btn" asp-action="Create"><i class="fa fa-plus"></i></a>

<table class="table">
    <thead>
        <tr>
            <th>
                تاريخ الإنشاء
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CreatedAt.Date.ToString("dd/M/yyyy")
                </td>
                <td>
                    <a class="details-icon-btn" title="تفاصيل سند الإدخال" asp-action="Details" asp-route-inputDocumentId="@item.InputDocumentID"><i class='far fa-file'></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
