<div class="container">

    <a asp-action="" asp-controller="">الاحتياج السنوي </a>
    <a asp-action="" asp-controller="">طلب غير مخطط</a>
    <a asp-action="Index" asp-controller="Archive">الأرشيف</a>

</div>