@inject SignInManager<ApplicationUser> signInManager;


<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GraduationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    @* lib extreme css *@
    <link rel="stylesheet" href="~/LibExtreme/css/dx.dark.css">



</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <img class="icon" src="~/img/Logo-Removed-bg.gif">
            <div class="logo_name"><span>KALA</span>STORDER</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <!--to check if user was sign in or not to show to him the loging or logout-->
            <!--Admin Operation-->
            @if (User.IsInRole("Admin"))
            {

                <li>
                    <i class='bx bx-search'></i>
                    <input type="text" id="searchTable" placeholder="ابحث هنا..." onkeyup="searchTable()">
                    <span class="tooltip">ابحث</span>
                </li>

                <li>
                    <a href="~/Administration/DashBoard">
                        <i class='bx bxs-dashboard'></i>
                        <span class="links_name">لوحة التحكم</span>
                    </a>
                    <span class="tooltip">لوحة التحكم</span>
                </li>
            }

            <!--StoreKeeper Operation-->
            @if (User.IsInRole("StoreKeep"))
            {
                <li>
                    <i class='bx bx-search'></i>
                    <input type="text" id="searchTable" placeholder="ابحث هنا..." onkeyup="searchTable()">
                    <span class="tooltip">ابحث</span>
                </li>
                <li>
                    <a href="~/Items/Index">
                        <i class='bx bx-spreadsheet'></i>
                        <span class="links_name">المواد</span>
                    </a>
                    <span class="tooltip">المواد</span>
                </li>
                <li>
                    <a href="~/Category/Index">
                        <i class='bx bx-category-alt'></i>
                        <span class="links_name">الأصناف</span>
                    </a>
                    <span class="tooltip">الأصناف</span>
                </li>
                <li>
                    <a href="~/Measurements/Index">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="links_name">القياسات</span>
                    </a>
                    <span class="tooltip">القياسات</span>
                </li>
                <li>
                    <a href="~/InputDocument/Index">
                        <i class='bx bx-folder'></i>
                        <span class="links_name">سندات الإدخال</span>
                    </a>
                    <span class="tooltip">سندات الإدخال</span>
                </li>
                <li>
                    <a href="~/OutPutDocument/Orders">
                        <i class='bx bx-cart-alt'></i>
                        <span class="links_name">الطلبات</span>
                    </a>
                    <span class="tooltip">الطلبات</span>
                </li>
            }
            <!--Requester Operation-->
            @if (User.IsInRole("Requester"))
            {
                <li>
                    <i class='bx bx-search'></i>
                    <input type="text" id="searchTable" placeholder="ابحث هنا..." onkeyup="searchTable()">
                    <span class="tooltip">ابحث</span>
                </li>
                <li>
                    <a href="~/RPOrder/Home">
                        <i class='bx bxs-dashboard'></i>
                        <span class="links_name">الرئيسية</span>
                    </a>
                    <span class="tooltip">الرئيسية</span>
                </li>
                <li>
                    <a href="~/AnnualOrder/Index">
                        <i class='bx bx-spreadsheet'></i>
                        <span class="links_name">الإحتياجات السنوية</span>
                    </a>
                    <span class="tooltip">الإحتياجات السنوية</span>
                </li>
                <li>
                    <a href="~/UnplannedOrder/Index">
                        <i class='bx bx-spreadsheet'></i>
                        <span class="links_name">الطلبات غير المخططة</span>
                    </a>
                    <span class="tooltip">الطلبات غير المخططة</span>
                </li>

                <li>
                    <a href="~/Archive/Index">
                        <i class='bx bx-archive'></i>
                        <span class="links_name">الأرشيف</span>
                    </a>
                    <span class="tooltip">الأرشيف</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-notification'></i>
                        <span class="links_name">الإشعارات</span>
                    </a>
                    <span class="tooltip">الإشعارات</span>
                </li>

            }
            <!--VicePres Operation-->
            @if (User.IsInRole("VicePris"))
            {
                <li>
                    <a href="~/VPOrder/Index">
                        <i class='bx bx-spreadsheet'></i>
                        <span class="links_name">طلبات الإحتياجات  </span>
                    </a>
                    <span class="tooltip">طلبات الإحتياجات  </span>
                </li>
                <li>
                    <a href="~/VPOrder/DistributionIndex">
                        <i class='bx bx-bar-chart'></i>
                        <span class="links_name">التوزيع</span>
                    </a>
                    <span class="tooltip">التوزيع </span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-store'></i>
                        <span class="links_name">المستودع </span>
                    </a>
                    <span class="tooltip">المستودع</span>
                </li>
            }

            
            <li class="profile">
                <div class="profile-details">
                    <!--<img src="profile.jpg" alt="profileImg">-->
                    <div class="name_job">
                        <div class="name">@User.Identity.Name</div>
                        @*<div class="job">Web designer</div>*@
                    </div>
                </div>
                <form method="post" asp-action="logout" asp-controller="Account">
                    <button type="submit">
                        <i class='bx bx-log-out' id="log_out"></i>
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="container" style="text-align:right;padding-top:20px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </section>
    @* lib extreme scripts *@

    <script type="text/javascript" src="~/LibExtreme/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/LibExtreme/js/dx.all.js"></script>
    @* lib extreme scripts *@

    <script src="~/js/layout_js.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/searchTable.js"></script>
    <script src="~/js/sortTable.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>