@{ 
    Layout = "ReportsLayout";
}
<link href="~/css/RPCards.css" rel="stylesheet" />
<div class="container">
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>تقارير جرد المواد</h3>
                <p>جرد لجميع المواد داخل المستودع </p>
                <a asp-action="ItemReport">استعراض</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>تقارير جرد لحركة المواد </h3>
                <p style="font-size:15px;">جرد لحركة المواد من خلال الكميات الداخلة والخارجة والرصيد داخل المستودع ضمن فترة زمنية محددّة </p>
                <a asp-controller="WareHouse" asp-action="MaterialInventoryReports">استعراض</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>تقارير المواد الراكدة</h3>
                <p>تقرير جرد للمواد التي لم يتم إدخالها أو إخراجها لمُدّة معيّنة</p>
                <a asp-controller="WareHouse" asp-action="Stagnant">استعراض</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="box">
            <div class="content">
                <h3>تقارير المواد التي لم يتم إخراجها</h3>
                <p>تقرير جرد للمواد التي طُلبت ولم يتم إخراجها لمُدّة معينة</p>
                <a asp-controller="WareHouse" asp-action="HaventBeenOutputed">استعراض</a>
            </div>
        </div>
    </div>

</div>