<script type="text/javascript" src="~/LibExtreme/js/jquery-3.5.1.min.js"></script>
<link href="~/LibExtreme/css/dx.material.orange.light.css" rel="stylesheet" />
<link href="~/css/ReportsLayout.css" rel="stylesheet" />
<script type="text/javascript" src="~/LibExtreme/js/dx.all.js"></script>
@{
    Layout = "ReportsLayout";
}
<script>
                var dataset = [];
        const items = @Html.Raw(ViewBag.items);
        $(function () {
            $("#dataGrid").dxDataGrid({
                dataSource: items,
                keyExpr: "",
                filterRow: { visible: true },
                searchPanel: { visible: true },
                //allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                groupPanel: {
                    visible: true,
                },
                paging: {
                    enabled: true,
                },
                columns: [
                {
                    caption: "رمز المادة",
                    dataField: 'BarCode',
                    alignment: 'center',
                },
                {
                    caption: "اسم المادة",
                    dataField: 'ItemName',
                    alignment: 'center',
                },
                {
                    caption: "الكمية",
                    dataField: 'Quantity',
                    alignment: 'center',
                },
                {
                    caption: "الكمية الدنيا",
                    dataField: 'MinimumRange',
                    alignment: 'center',
                },
                {
                    caption: "الحالة",
                    dataField: 'Status',
                    alignment: 'center',
                },
                {
                    caption: "ملاحظات",
                    dataField: 'Note',
                    alignment: 'center',
                },
                {
                    caption: "الصنف",
                    dataField: 'Category',
                    alignment: 'center',
                },
                {
                    caption: "القياس",
                    dataField: 'Measurement',
                    alignment: 'center',
                }
                ],
                columnChooser: { enabled: true },
            });
        });
</script>

<div class="dx-theme-border-color-as-background-color">
    <div id="dataGrid"></div>
</div>