@model List<GraduationProject.ViewModels.WareHouse.materialreportsViewModel>
@{Layout = "ReportsLayout";
}

<script src="~/js/material.js"></script>

<!--Element Style Links -->
<link href="~/css/material.css" rel="stylesheet" />
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@


<!--Layout Style Links -->
<link href="~/css/ReportsLayout.css" rel="stylesheet" />

<!--GridView Links -->
<script type="text/javascript" src="~/LibExtreme/js/jquery-3.5.1.min.js"></script>
<link href="~/LibExtreme/css/dx.material.orange.light.css" rel="stylesheet" />
<script type="text/javascript" src="~/LibExtreme/js/dx.all.js"></script>
<script src="~/LibExtreme/js/Excel.js"></script>
<script src="~/LibExtreme/js/FileSaver.js"></script>



<div class="container mt-sm-3" >
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form id="regForm" asp-action="MaterialInventoryReports" method="post">
                <h1 id="register">عملية جرد لحركة المواد</h1>
                <div class="all-steps" id="all-steps">
                    <span class="step"><i class='bx bx-time'></i></span>
                    <span class="step"><i class='bx bx-time-five'></i></span>
                </div>

                <div class="tab">
                    <h6>أدخل التاريخ الابتدائي:</h6>
                    <p>
                        <input oninput="this.className = ''" name="startdate" type="datetime-local" required>
                    </p>

                </div>
                <div class="tab">
                    <h6>أدخل التاريخ النهائي:</h6>
                    <p><input oninput="this.className = ''" name="finishdate" type="datetime-local" required></p>

                </div>


                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)" style="display : none;" hidden><i class='bx bx-chevrons-left'></i></button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class='bx bx-chevrons-right'></i></button>
                        <button type="submit" id="submitbtn" onclick="nextPrev(1)">استعراض</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*<form asp-action="MaterialInventoryReports" method="post">
    <label>  أدخل التاريخ الأولي والثانوي للقيام بعملية الجرد  </label>
    <br />
    <label>تاريخ البداية</label>
    <input name="startdate" type="datetime-local" />
    <span></span>
    <label>تاريخ النهاية</label>
    <input name="finishdate" type="datetime-local" />
    <br />    <br />
    <input class="show-icon-btn" type="submit" value=" استعراض " />
    <br />

</form>*@
<br />

<script>
        var dataset = [];
        const items = @Html.Raw(ViewBag.items);
        $(function () {
            $("#dataGrid").dxDataGrid({
                dataSource: items,
                keyExpr: "",
                filterRow: { visible: true },
                searchPanel: { visible: true },
                //allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                selection: {
                    mode: 'multiple',
                },
                groupPanel: {
                    visible: true,
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                },
                onExporting(e) {
                    const workbook = new ExcelJS.Workbook();
                    const worksheet = workbook.addWorksheet('المواد');
                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet,
                        autoFilterEnabled: true,
                    }).then(() => {
                        workbook.xlsx.writeBuffer().then((buffer) => {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Items.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                paging: {
                    enabled: true,
                },
                columns: [{
                    caption: "رقم المادة",
                    dataField: 'ItemID',
                    alignment: 'center',
                },
                {
                    caption: "رمز المادة",
                    dataField: 'Barcode',
                    alignment: 'center',
                },
                {
                    caption: "اسم المادة",
                    dataField: 'Name',
                    alignment: 'center',
                },
                {
                    caption: "التدفق",
                    dataField: 'FlowRate',
                    alignment: 'center',
                },
                {
                    caption: "الكمية الداخلة",
                    dataField: 'InputQuantity',
                    alignment: 'center',
                },
                {
                    caption: "الكمية الخارجة",
                    dataField: 'OutputQuantity',
                    alignment: 'center',
                },
                {
                    caption: "الرصيد",
                    dataField: 'InStock',
                    alignment: 'center',
                }

                ],
                columnChooser: { enabled: true },
            });
        });
        DevExpress.config({
            rtlEnabled: true
        });
</script>

<div class="dx-theme-border-color-as-background-color">
    <div id="dataGrid"></div>
</div>
