@model List<GraduationProject.ViewModels.WareHouse.materialreportsViewModel>
<link href="~/css/button.css" rel="stylesheet" />
<link href="~/css/tableformanagment.css" rel="stylesheet" />
<form asp-action="MaterialInventoryReports" method="post">
    <label>  أدخل التاريخ الأولي والثانوي للقيام بعملية الجرد  </label>
    <br />
    <label>تاريخ البداية</label>
    <input name="startdate" type="datetime-local" />
    <span></span>
    <label>تاريخ النهاية</label>
    <input name="finishdate" type="datetime-local" />
    <br />    <br />
    <input class="show-icon-btn" type="submit" value=" استعراض " />
    <br />

</form>
<br />

<script>
        var dataset = [];
        const items = @Html.Raw(ViewBag.items);
        $(function () {
            $("#dataGrid").dxDataGrid({
                dataSource: items,
                keyExpr: "",
                filterRow: { visible: true },
                searchPanel: { visible: true },
                //allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                showBorders: true,
                selection: {
                    mode: 'multiple',
                },
                groupPanel: {
                    visible: true,
                },
                export: {
                    enabled: true,
                    allowExportSelectedData: true,
                },
                onExporting(e) {
                    const workbook = new ExcelJS.Workbook();
                    const worksheet = workbook.addWorksheet('المواد');
                    DevExpress.excelExporter.exportDataGrid({
                        component: e.component,
                        worksheet,
                        autoFilterEnabled: true,
                    }).then(() => {
                        workbook.xlsx.writeBuffer().then((buffer) => {
                            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Items.xlsx');
                        });
                    });
                    e.cancel = true;
                },
                paging: {
                    enabled: true,
                },
                columns: [{
                    caption: "رقم المادة",
                    dataField: 'ItemID',
                    alignment: 'center',
                },
                {
                    caption: "رمز المادة",
                    dataField: 'Barcode',
                    alignment: 'center',
                },
                {
                    caption: "اسم المادة",
                    dataField: 'Name',
                    alignment: 'center',
                },
                {
                    caption: "التدفق",
                    dataField: 'FlowRate',
                    alignment: 'center',
                },
                {
                    caption: "الكمية الداخلة",
                    dataField: 'InputQuantity',
                    alignment: 'center',
                },
                {
                    caption: "الكمية الخارجة",
                    dataField: 'OutputQuantity',
                    alignment: 'center',
                },
                {
                    caption: "الرصيد",
                    dataField: 'InStock',
                    alignment: 'center',
                }

                ],
                columnChooser: { enabled: true },
            });
        });
        DevExpress.config({
            rtlEnabled: true
        });
</script>

<div class="dx-theme-border-color-as-background-color">
    <div id="dataGrid"></div>
</div>
