@model List<GraduationProject.ViewModels.WareHouse.RPitemsReportViewModel>

<link href="~/css/NoOutputItemsTable.css" rel="stylesheet" />

<form id="regForm" method="post" asp-action="RPItems">
    <div class="container mt-sm-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <h1 id="register">المواد المطلوبة من قبل جهة طالبة معينة في فترة زمنية معينة</h1>
                <div class="all-steps" id="all-steps">
                </div>
                <div>
                    <h6 style="float:right;">أدخل الجهة الطالبة:</h6>
                    <p>
                        <input name="rp" type="text" required>
                    </p>
                    <h6 style="float:right;">أدخل التاريخ الابتدائي:</h6>
                    <p>
                        <input name="starttime" type="datetime-local" required>
                    </p>
                    <h6 style="float:right;">أدخل التاريخ النهائي:</h6>
                    <p>
                        <input name="finishtime" type="datetime-local" required>
                    </p>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="vertical-center">
        <button type="submit">استعراض</button>
    </div>
    <div class="table-responsive">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>المادة</th>
                    <th>الكميةالمطلوبة</th>
                    <th>الكميةالمأخوذة</th>
                    <th>الكمية المتبقية</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</form>