@model List<GraduationProject.ViewModels.WareHouse.StagnantItemsViewModel>
<link href="~/css/tableformanagment.css" rel="stylesheet" />
<link href="~/css/button.css" rel="stylesheet" />
<form asp-action="Stagnant" method="post">
    <label>  أدخل المدة بالسنة  </label>
    <input name="period" value="0" /><br />
    <input class="show-icon-btn" type="submit" value=" استعراض " />
</form>
<br />
<table class="styled-table">
    <thead>
        <tr>
            <th>المواد</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Name</td>
            </tr>
        }
    </tbody>
</table>
@ViewBag.period