<div class="container">
        <a asp-action="AlLAnnualOrders">
            جميع الاحتياجات السنوية
        </a>


    <button asp-action="AllUnplannedOrders">
        جميع الطلبات غير المخططة
    </button>
</div>

