:root {
    /*this for navigation*/
    --main-blue: #11101D;
    --sub-blue: #1d1b31;
    --background: #E4E9F7;
    --main-orange: #FF5733;
    /*special use*/
    /*main color*/
    --white: #fff;
    --black: #000;
    --gray: #e7e7e7;
    --background-gray: #c7c7c7;
    --red: #b2323d;
    --black-hover: #171a20;
    --red-hover: #92474d;
}

.create-icon-btn {
    background: var(--main-orange);
    border: 1px solid var(--main-blue);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    padding: 7px 14px;
    color: var(--white);
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 30px;
    width: auto;
    text-decoration: none;
    bottom: 30px;
    left: 20px;
    position: fixed;
    font-size: 20px;
}

    .create-icon-btn:hover {
        background: #fff;
        color: var(--main-blue);
        border: 1px solid var(--main-orange);
        transform: scale(1.05);
        text-decoration: none;
    }

.delete-icon-btn {
    background: var(--white);
    border: 1px solid var(--red);
    box-shadow: 0px 5px 10px rgba(178,50,61,.2);
    font-size: 16px;
    color: var(--red);
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
    width: auto;
    text-decoration: none;
}

    .delete-icon-btn:hover {
        background: var(--red-hover);
        color: var(--white);
        border: 1px solid var(--white);
        transform: scale(1.05);
        text-decoration: none;
    }

.edit-icon-btn {
    background: var(--white);
    border: 1px solid var(--black);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    color: var(--black);
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
    width: auto;
    text-decoration: none;
}

    .edit-icon-btn:hover {
        background: var(--black-hover);
        color: var(--white);
        border: 1px solid var(--black);
        transform: scale(1.05);
        text-decoration: none;
    }


.details-icon-btn {
    background: var(--white);
    border: 2px solid var(--main-blue);
    box-shadow: 0px 5px 5px var(--main-blue);
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    color: var(--main-blue);
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
    width: auto;
    text-decoration: none;
}

    .details-icon-btn:hover {
        background: var(--main-blue);
        color: var(--white);
        border: 1px solid var(--white);
        transform: scale(1.05);
        text-decoration: none;
    }


.tableheader {
    color: var(--main-orange);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}