:root {
    /*this for navigation*/
    --main-blue: #11101D;
    --sub-blue: #1d1b31;
    --background: #E4E9F7;
    --main-orange: #FF5733;
    /*special use*/
    /*main color*/
    --white: #fff;
    --black: #000;
    --gray: #e7e7e7;
    --background-gray: #c7c7c7;
    --red: #b2323d;
    --black-hover: #171a20;
    --red-hover: #92474d;
}

.box {
    background: var(--main-blue);
    color: var(--white);
    border-radius: 20px;
    border: 2px solid var(--main-orange);
}
.close-icon {
    margin-right: 298px;
    color: white;
    font-weight: bold;
}
.tail {
    justify-content: flex-start;
}
.modal-title{
    color:var(--main-orange);
    font-weight:bold;
}


#submit {
    width: 100%;
    padding: 0.8rem;
    background: var(--main-orange);
    color: var(--white);
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid var(--white);
}

    #submit:hover {
        background: var(--white);
        color: var(--main-orange);
        border: 1px solid var(--main-orange);
        text-decoration: none;
        transition: all 0.5s ease;
    }