
@{
    ViewBag.Title = "فشل الوصول";
}
<div class="text-center">
    <h1 class="text-danger">فشل الوصول</h1>
    <h6 class="text-danger">لا يمكنك الوصول لهذه الصفحة لأنه ليس لديك الصلاحيات المخولة</h6>
    <img src="~/serverimages/access.ong.png" style="width:300px;height:300px;" />
</div>