@model GraduationProject.ViewModels.Account.LoginViewModel;

@{
    Layout = "";
}

<html>
<head>
    <title>تسجيل الدخول</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="img/darkblue-wave.png">
    <div class="container">
        <div class="img">
            <img src="img/Warwhouse-animated-img.gif">
        </div>
        <div class="login-content">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="serverresponce"></div>
                <img src="img/Animated Logo.gif">
                <h2 class="title"> </h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>البريد الإلكتروني</h5>
                        <input asp-for="Email" id="email" class="input">
                    </div>
                </div>
                <span asp-validation-for="Email" class="err"></span>
                <div class="input-div pass">
                    <div class="i">
                        <i onclick="visibilPassword()" class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>كلمة السر</h5>
                        <input asp-for="Password" class="input" id="passwordInput" type="password">
                    </div>
                </div>
                <span asp-validation-for="Password" class="err"></span>
                <button type="submit" class="btn">
                    تسجيل الدخول
                </button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="~/js/Login.js"></script>

@section Scripts{
    <script src="~/js/Login.js"></script>
    <partial name="_ValidationScriptsPartial" />

}